@import "../abstracts/variables/variables-theme";

/** Header **/
.fw-header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: normal;
  z-index: 999;
  height: $header_height;
  background-color: $header_bg_color;
  box-shadow: $header_box_shadow;
  @media screen and (max-width: $media_after_collapse) {
    display: flex !important;
    height: $header_height_mob;
    position: fixed;
  }

  &--outer {
    height: $header_height;
    @media screen and (max-width: $media_after_collapse) {
      height: $header_height_mob;
    }
  }

  &--container {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 999;
    max-width: $header_container_width;
    padding-left: $header_container_padding_x;
    padding-right: $header_container_padding_x;
    @media screen and (max-width: $media_after_collapse) {
      max-width: 100%;
    }
  }
}

/** Logo **/
.fw-logo {
  position: relative;
  flex: 0 0 $header_logo_width;
  max-width: $header_logo_width;
  display: block;
  @media screen and (max-width: $media_after_collapse) {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    flex: 0 0 $header_logo_width_mob;
    max-width:  $header_logo_width_mob;
  }
  img {
    width: 100%;
    height: auto;
  }
}

//  CLASS: header-fixed_js
.header-fixed {
  .fw-header {
    position: fixed;
  }
}

//  CLASS: header-jump_js
@media screen and (min-width: $media_before_collapse) {
  .header-jump_js {
    &.scrl-d, &.scrl-u, &.scrl  {
      .fw-header {
        @media screen and (min-width: $media_before_collapse) {
          position: fixed;
          height: $header_jump_height;
        }
      }

    }
    &.scrl-d {
      .fw-header {
        @media screen and (min-width: $media_before_collapse) {
          top: - $header_height;
          opacity: 0;
        }
      }
    }

    &.start, &.end {
      .fw-header {
        @media screen and (min-width: $media_before_collapse) {
          transition: top $header_jump_transition;
        }
      }
    }

    &.start {
      .fw-header {
        @media screen and (min-width: $media_before_collapse) {
          top: 0;
          opacity: 1;
        }
      }
    }

    &.end {
      .fw-header {
        @media screen and (min-width: $media_before_collapse) {
          top: - $header_height;
          position: fixed;
          transition: top $header_jump_transition;
        }
      }
    }

  }
}


//  CLASS: header-reduce_js (reduce header height on scroll)
@media screen and (min-width: $media_before_collapse) {
  .header-reduce_js {
    .fw-header, .fw-logo{
      transition: $header_reduce_transition;
    }

    .fw-header {
      position: fixed;
      height: $header_reduce_height;
    }

    .fw-logo {
      max-width: $header_reduce_logo_width;
      flex: 0 0 $header_reduce_logo_width;
    }

    &:not(.scrl-d):not(.scrl-u):not(.scrl) {
      .fw-header {
        height: $header_height;
      }

      .fw-logo {
        max-width: $header_reduce_logo_width;
        flex:0 0 $header_reduce_logo_width;
      }
    }
    &.scrl {
      .fw-header, .fw-logo {
        transition: none !important;
      }
    }
  }
}

//  CLASS: header-transparent_js
@media screen and (min-width: $media_before_collapse) {
  .header-transparent_js {
    position: fixed;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    .fw-header, .fw-logo {
      transition: $header-transparent_transition;
    }

    .fw-header {
      height: $header_transparent_height;
    }

    &:not(.scrl-d):not(.scrl-u):not(.scrl) {
      .fw-header {
        height: $header_height;
        background-color: $header_transparent_bg_color;
        box-shadow: none;
      }

      .fw-logo {
        img {
          filter: $header_transparent_logo_filter;
        }
      }

      .fw-menu {
        &--nav > li {
          > a {
            color: $header_transparent_menu_item_color;

            &:before {
              display: none;
            }
          }
          &:hover{
            > a{
              color: $header_transparent_menu_item_color_hover;
              background-color: transparent;
            }
          }
          &.current_page_item {
            > a {
              color: $header_transparent_menu_item_color_active;
              background-color: transparent;
            }
          }
        }
      }
    }
  }
}

