@import "../abstracts/variables/variables-theme";

//  sections
.fw-section {
  background-color: $section_bg_color;
  padding-top: $section_padding_top;
  padding-bottom: $section_padding_bottom;
  position: relative;
  .container {
    position: relative;
    z-index: 2;
  }
  @if ($section_breakpoint) {
    @include media-breakpoint-down($section_breakpoint) {
      padding-top: $section_mob_padding_top;
      padding-bottom: $section_mob_padding_bottom;
    }
  }

  + .fw-section {
    padding-top: 0;
  }

  &[class*='bg-'], &[class*='brd-'], &.has-bg{
    padding-top:$section_padding_top;
    @if ($section_breakpoint) {
      @include media-breakpoint-down($section_breakpoint) {
        padding-top:  $section_mob_padding_top;
      }
    }

    + .fw-section {
      padding-top: $section_padding_top;
      @if ($section_breakpoint) {
        @include media-breakpoint-down($section_breakpoint) {
          padding-top:  $section_mob_padding_top;
        }
      }
    }
  }

  &--head {
    font-size: $section_head_font_size;
    line-height: $section_head_line_height;
    margin:$section_head_margin;
    color: $section_head_color;
  }

  &--title {
    font-size: $section_title_font_size;
    line-height: $section_title_line_height;
    margin: $section_title_margin;
    color: $section_title_color;
  }
}
.has-bg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .bg-img{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
    z-index: 0;
  }
}
.has-cover:after{
  opacity: .7;
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}
.cover-black:after{
  background-color: #000;
}

.has-parallax {
  background-attachment: fixed;
}
