//  Full Silder
$bgi_slider__height: calc(100vh - #{$header_height});
$bgi_slider__height___MOBILE: 450px;
//
$bgi_slider__content_width: null;

$bgi_slider_arrow__size: 50px;
$bgi_slider_arrow__width: 70px;
$bgi_slider_arrow__color: #837c7c;
$bgi_slider_arrow__color___HOVER: #fff;
$bgi_slider_arrow__bg_color: transparent;
$bgi_slider_arrow__bg_color___HOVER: rgba(40, 40, 40, 0.1);
$bgi_slider_arrow_transition: .2s;
//
$bgi_slider_dot__size: 20px;
$bgi_slider_dot__margin: 15px;
$bgi_slider_dots_container__padding: 0 0 30px 0;
$bgi_slider_dot__border_radius: 100%;
$bgi_slider_dot__bg_color: #c6c6c6;
$bgi_slider_dot__bg_color___ACTIVE: #525252;
$bgi_slider_dot__bg_color___HOVER: #949494;



//  Grid Silder
$grd_slider__preload_height: 550px;
$grd_slider__width: 95%;
$grd_slider__width___MOBILE: 80%;
$grd_slider_arrow_transition: .2s;
//
$grd_slide_margin_between: 20px;
//
$grd_slider_arrow__size: 36px;
$grd_slider_arrow__width: 50px;
$grd_slider_arrow__color: #837c7c;
$grd_slider_arrow__color___HOVER: #000;
//
$grd_slider_dot__size: 20px;
$grd_slider_dot__margin: 15px;
$grd_slider_dots_container__padding: 30px 0 0 0;
$grd_slider_dot__border_radius: 100%;
$grd_slider_dot__bg_color: #c6c6c6;
$grd_slider_dot__bg_color___ACTIVE: #525252;
$grd_slider_dot__bg_color___HOVER: #949494;

