$acc_item_font_size: null;
$acc_item_color: #000;
$acc_item_color_hover: #fff;
$acc_item_color_active: #fff;
$acc_item_bg_color: #d9d9d9;
$acc_item_bg_color_hover: #000;
$acc_item_bg_color_active: #000;
$acc_item_padding: 10px 25px;
$acc_item_margin_bottom: 3px;
$acc_item_border_color: #c5c5c5;
$acc_content_padding: 10px 15px;
$acc_content_font_size: null;
$acc_content_color: null;
$acc_content_bg_color: null;