@import "../abstracts/variables/variables-theme";

//  CLASS: link color (example: link-purple)
@include link-color(dark, map-get($colors, dark));
@include link-color(white, map-get($colors, white));



//  Bootstrap class generator
$utilities: (
    "background-color": (
        property: background-color,
        class: bg,
        values: map-merge(
            $theme-colors, ()
        )
    ),
    "color": (
        property: color,
        class: color,
        values: map-merge(
            $theme-colors, ()
        )
    ),
    "border-bottom": (
        property: border-bottom,
        class: brd,
        values: (
            bottom: 1px solid
        )
    ),
    "border-color" :(
        property: border-color,
        class: brd,
        values: map-merge(
            $theme-colors, ()
        )
    ),
    "text-align": (
        property: text-align,
        class: text,
        values: (
            left: left,
            right: right,
            center: center,
        )
    ),
    "margin-bottom": (
        responsive: false,
        property: margin-bottom,
        class: mb,
        values: (
            0:  0,
            15: 15px,
            30: 30px
        )
    ),
    "margin-top": (
        responsive: false,
        property: margin-top,
        class: mt,
        values: (
            0:  0,
            15: 15px,
            30: 30px
        )
    ),
    "container:": (
        responsive: false,
        property: max-width,
        class: container,
        values: (
            sm: 1024px
        )
    ),
    "display": (
            responsive: true,
            print: true,
            property: display,
            class: d,
            values: inline inline-block block grid table table-row table-cell flex inline-flex none
    ),

);

@import "../../bootstrap/utilities/api";