@import "../abstracts/variables/variables-theme";
//  Core
.fw-input {
  display: block;
  width: 100%;
  border-style: solid;
  box-shadow: none;
  transition: color $input_btn_transition, background-color $input_btn_transition, box-shadow $input_btn_transition;
  &:focus {
    outline: 1px dotted transparent;
  }
  &:disabled {
    opacity: .3;
  }
}

//  Generator for input variants
@mixin input_variant($variant: ()) {
  //  If you want to have default variables uncomment any values
  $variant: map-merge((), $variant);
  //  define class
  #{map-get($variant, class)} {
    //  Styling
    background-color: map-get($variant, background-color);
    color: map-get($variant, color);
    border-color: map-get($variant, border-color);
    font-size: map-get($variant, font-size);
    border-radius: map-get($variant, border-radius);
    border-width: map-get($variant, border-width);
    line-height: map-get($variant, line-height);
    padding-right: map-get($variant, padding-x);
    padding-left: map-get($variant, padding-x);
    @if map-get($variant, height) != null and map-get($variant, line-height) != null and map-get($variant, line-height) != null {
      padding-top: (map-get($variant, height) - map-get($variant, line-height) - (map-get($variant, border-width)*2)) /2;
      padding-bottom: (map-get($variant, height) - map-get($variant, line-height) - (map-get($variant, border-width)*2)) /2;
    }

    &:focus {
      background-color: map-get($variant, background-color--FOCUS);
      color: map-get($variant, color--FOCUS);
      border-color: map-get($variant, border-color--FOCUS);
      box-shadow: map-get($variant, box-shadow);
    }
  }
  #{map-get($variant, class)} {
    &::-webkit-input-placeholder {
      color: map-get($variant, placeholder-color);
    }

    &::-moz-placeholder {
      color: map-get($variant, placeholder-color);
    }

    &:-ms-input-placeholder {
      color: map-get($variant, placeholder-color);
    }

    &:-moz-placeholder {
      color: map-get($variant, placeholder-color);
    }
  }
}

select, select.wsf-field {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiM4YzhjOGMiLz4KICA8L2c+Cjwvc3ZnPgo=') !important;
  background-position: center right 10px !important;
  background-repeat: no-repeat;
  background-size: 16px !important;
  cursor: pointer;
  display: block;
  color: #8e8a8a !important;
  &.selected_active{
    color: #000 !important;
  }
}

//  Set styles for multiple existing classes: it will be like | class: ".class-1, .class-2, input, :not([type='number']  ... , etc"

//  Add input variant

//  Sizes | height, line-height and border-width - required
@include input_variant((
    class: '.fw-input',
    border-radius: 0,
    font-size: 16px,
    padding-x: 15px,
    height: 45px,
    line-height: 20px,
    border-width: 1px
));
@include input_variant((
    class: (
        '.input-lg'
    ),
    height: 65px,
    line-height: 20px,
    border-width: 1px,
    padding-x: 25px,
));

//  Colors
@include input_variant((
    class: '.input-primary',
    background-color: #ffffff,
    background-color--FOCUS: #ffffff,
    color: #2b2b2b,
    color--FOCUS: #000000,
    border-color: map-get($colors, primary),
    border-color--FOCUS: map-get($colors, primary),
    box-shadow: 0 0 5px 3px rgba(map-get($colors, primary), .4),
    placeholder-color: #8e8a8a !important,
));
@include input_variant((
    class: '.input-custom',
    background-color: #000000,
    background-color--FOCUS: #fafafa,
    color: #ffffff,
    color--FOCUS: #000000,
    border-color: red,
    border-color--FOCUS: #e28787,
    box-shadow: 0 0 5px 2px rgba(#000000, .3),
    placeholder-color: red !important,
));

.fw-input-icon{
  position: relative;
  > input{
    padding-left: 40px;
  }
  &::before{
    font-family: $web_icon_font_family;
    line-height: 1;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: 13px;
    left: 14px;
  }
}

span.error{
  font-size: 14px;
  color: map-get($colors, error-color);
  display: block;
  line-height: 1.2;
  margin-top: 4px;
}
input.error{
  border-color: map-get($colors, error-color);
}
