@import "../abstracts/variables/variables-theme";

body{
  color: $body_color;
  background-color: $body_bg_color;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $body_font_family;
  font-size: $body_font_size;
  font-weight: $body_font_weight;
  line-height:  $body_line_height;
  letter-spacing: $body_letter_spacing;
  @if($body_mob_breakpoint){
    @include media-breakpoint-down($body_mob_breakpoint){
      font-size: $body_mob_font-size;
      line-height: $body_mob_line-height;
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6{
  color: $headings_color;
  font-family: $headings_font_family;
  font-weight: $headings_font_weight;
  line-height: $headings_line_height;
  text-transform: $headings_text_transform;
  letter-spacing: $headings_letter_spacing;
  margin-bottom: $headings_margin_bottom;
}

h1, .h1{
  font-size: $h1_font_size;
  line-height: $h1_line_height;
  margin-bottom: $h1_margin_bottom;
  @if($h1_mob_breakpoint){
    @include media-breakpoint-down($h1_mob_breakpoint){
      font-size: $h1_mob_font_size;
      line-height: $h1_mob_line_height;
      margin-bottom: $h1_mob_margin_bottom;
    }
  }
}
h2, .h2{
  font-size: $h2_font_size;
  line-height: $h2_line_height;
  margin-bottom: $h2_margin_bottom;
  @if($h2_mob_breakpoint){
    @include media-breakpoint-down($h2_mob_breakpoint){
      font-size: $h2_mob_font_size;
      line-height: $h2_mob_line_height;
      margin-bottom: $h2_mob_margin_bottom;
    }
  }
}
h3, .h3{
  font-size: $h3_font_size;
  line-height: $h3_line_height;
  margin-bottom: $h3_margin_bottom;
  @if($h3_mob_breakpoint){
    @include media-breakpoint-down($h3_mob_breakpoint){
      font-size: $h3_mob_font_size;
      line-height: $h3_mob_line_height;
      margin-bottom: $h3_mob_margin_bottom;
    }
  }
}
h4, .h4{
  font-size: $h4_font_size;
  line-height: $h4_line_height;
  margin-bottom: $h4_margin_bottom;
}
h5, .h5{
  font-size: $h5_font_size;
  line-height: $h5_line_height;
  margin-bottom: $h5_margin_bottom;
}
h6, .h6{
  font-size: $h6_font_size;
  line-height: $h6_line_height;
  margin-bottom: $h6_margin_bottom;
}

p:last-child{
  margin-bottom: 0;
}

a{
  transition: color $link_transition, background-color $link_transition, opacity $link_transition;
  &:visited{
    color: $link_color_visited;
  }
}


ul, ol{
  margin: $list_margin;
  padding: $list_padding;
  @if($list_breakpoint){
    @include media-breakpoint-down($list_breakpoint){
      margin: $list_mob_margin;
      padding: $list_mob_padding;
    }
  }
  ul, ol{
    margin: $list_margin;
    padding: $list_padding;
    @if($list_breakpoint){
      @include media-breakpoint-down($list_breakpoint){
        margin: $list_mob_margin;
        padding: $list_mob_padding;
      }
    }
  }
  li{
    margin: $list_child_margin;
    padding: $list_child_padding;
  }
}
.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;
}

table{
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  td,th{
    padding: $td_th_padding;
    @if ($td_th_border_color){
      border-top: 1px solid $td_th_border_color;
    }
  }
}

blockquote{
  @if($blockquote_border_width and $blockquote_border_color){
    border-left: $blockquote_border_width solid $blockquote_border_color;
  }
  margin: $blockquote_margin;
  padding: $blockquote_padding
}

label{
  display: block;
  cursor: pointer;
  font-size: $label_font_size;
  font-weight: $label_font_weight;
  line-height: $label_line_height;
  margin:  $label_margin;
  color: $label_color;
}

iframe{
  display: block;
  width: 100%;
  height: auto;
}
img{
  max-width: 100%;
  height: auto;
}

.svg-icon{
  display: inline-flex;
  align-items: center;
  line-height: 1;
  svg{
    line-height: 1;
    width: 100%;
    height: 100%;
    display: inline-block;
  }
}