//  Link color generator (set class on parent section)
@mixin link-color($color-name, $color){
  .link-#{$color-name}{
    a{
      color: $color;
      &:visited{
        color: $color;
      }
      &:hover{
        color: $color;
      }
    }
  }
}

@mixin link-inherit($decoration, $decoration-hover){
  a{
    color: inherit;
    @if($decoration){
      text-decoration: underline;
    }
    &:visited{
      color: inherit;
    }
    &:hover{
      color: inherit;
      opacity: .8;
      @if($decoration-hover){
        text-decoration: underline;
      }
    }
  }
}

@mixin link-styled($color, $color-visited, $color-hover, $decoration, $decoration-hover){
  a{
    color: $color;
    @if($decoration){
      text-decoration: underline;
    }
    &:visited{
      color: $color-visited;
    }
    &:hover{
      color: $color-hover;
      @if($decoration-hover){
        text-decoration: underline;
      }
    }
  }
}