@import "../abstracts/variables/variables-theme";

.fw-fsl{
  min-height: $bgi_slider__height;
  position: relative;
  @include media-breakpoint-down(lg){
    min-height: $bgi_slider__height___MOBILE;

  }
  &--slide{
    min-height: $bgi_slider__height;
    position: relative;
    @include media-breakpoint-down(lg){
      min-height: $bgi_slider__height___MOBILE;
    }
  }
  &--inner{
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $bgi_slider__height;
    padding-top: 80px;
    padding-bottom: 80px;
    @include media-breakpoint-down(lg){
      min-height: $bgi_slider__height___MOBILE;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }
  &--content{
    width: 100%;
    position: relative;
    max-width: $bgi_slider__content_width;
    z-index: 2;
  }
  .slick-arrow{
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
    width:  $bgi_slider_arrow__width;
    max-width: $bgi_slider_arrow__width;
    flex: 0 0 $bgi_slider_arrow__width;
    background-color: $bgi_slider_arrow__bg_color;
    transition: color $bgi_slider_arrow_transition, background-color $bgi_slider_arrow_transition;
    i{
      font-weight: bold;
      transition: color $bgi_slider_arrow_transition, background-color $bgi_slider_arrow_transition;
      font-size: $bgi_slider_arrow__size;
      color: $bgi_slider_arrow__color;
    }
    &:hover{
      background-color: $bgi_slider_arrow__bg_color___HOVER;
      i{
        color: $bgi_slider_arrow__color___HOVER;
      }
    }
    &.arrw-next{
      right: 0;
    }
    &.arrw-pre{
      left: 0;
    }
    .svg-icon{
      width: $bgi_slider_arrow__size !important;
      height: $bgi_slider_arrow__size !important;
      color: $bgi_slider_arrow__color;
      transition: color .2s, background-color .2s;
    }
  }
  &--dots{
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
    padding: $bgi_slider_dots_container__padding;
    ul{
      display: flex;
      margin: 0;
      padding: 0;
    }
    li{
      margin-right: $bgi_slider_dot__margin;
      margin-bottom: 0;
      &.slick-active{
        button{
          background-color: $bgi_slider_dot__bg_color___ACTIVE;
          &:hover{
            background-color: $bgi_slider_dot__bg_color___HOVER;
          }
        }
      }
      &:last-child{
        margin-right: 0;
      }
    }
    button{
      width: $bgi_slider_dot__size;
      height: $bgi_slider_dot__size;
      background-color: $bgi_slider_dot__bg_color;
      border-radius: $bgi_slider_dot__border_radius;
      border: none;
      transition: background-color $bgi_slider_arrow_transition;
      &:hover{
        background-color: $bgi_slider_dot__bg_color___HOVER;
      }
    }
  }
}

