@import "../abstracts/variables/variables-theme";

//  File Part: Accordion Tabs
.fw-acc {

  &--item{
    border: 1px solid $acc_item_border_color;
    margin-bottom: $acc_item_margin_bottom;
  }
  &--item:first-child{
    .fw-acc--content{
      display: block;
    }
  }

  &--content{
    display: none;
    font-size: $acc_content_font_size;
    color: $acc_content_color;
    background-color: $acc_content_bg_color;
  }
  &--nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $acc_item_font_size;
    padding: $acc_item_padding;
    color: $acc_item_color;
    background-color: $acc_item_bg_color;
    &:visited{
      color: $acc_item_color;
    }
    &:hover{
      color: $acc_item_color_hover;
      background-color: $acc_item_bg_color_hover;
    }
    &.active{
      color: $acc_item_color_active;
      background-color: $acc_item_bg_color_active;
      .fw-acc--ico{
        transform: rotate(180deg);
      }
    }
  }
  &--content{
    padding: $acc_content_padding;
  }

  &--ico{
    transition: .2s;
  }
}

@keyframes tabs_content_open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


